<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/editProfile.css">
</head>

<body>
    <div class="error">{{error}}</div>
    <div class="main-content" style="height:12rem">
        <form action="changepassword" method="POST">
            <input type="email" name="email" id="email" placeholder="Email" readonly required value="{{email}}">
            <input type="password" name="old_pwd" id="old_pwd" required placeholder="Enter old passsword">
            <input type="password" name="new_pwd" id="new_pwd" required placeholder="Enter new password">
            <input type="password" name="password" id="password" required placeholder="Retype new Password">
            <button type="submit">Update</button>
        </form>
    </div>
</body>

</html>