<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>
    <ul>
        <li><a href="/dashboard/editprofile">Profile</a></li>
        <li><a href="/deleteprofile">Delete Profile</a></li>
        <li><a href="/dashboard/logout">Logout</a></li>
        <li><a href="/dashboard/changepassword">Change Password</a></li>
        <li style="float: right;"><span class="a">{{status}}</span></li>
    </ul>
</body>

</html>