*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgba(87, 204, 83, 0.897);
    text-align: center;
}
h1{
    color:rgb(157, 255, 157);
}
.main-content{
    font-size: 1rem;
    width: 20rem;
    height: 11rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 2rem;
    border: 1px solid rgb(255, 251, 251);
    padding: 55px 55px 140px 55px;
}
.inline{
    display: flex;
    width: 15rem;
}
p{
    color: rgb(165, 161, 161);
}
span,a{
    text-decoration: none;
    color:  rgb(87, 204, 83);
}
.inputs{
    margin-top: 0!important;
}
input,select{
    padding: 1rem 1rem;
    width: 17rem;
    background-color: rgb(247, 243, 243);
    border: none;
    margin-bottom: 1rem;
}
select{
    width: 19rem;
}
button{
    padding: 1rem 1rem;
    width: 19rem;
    background-color: rgba(87, 204, 83, 0.897);
    border: 1px solid white;
    color:white;
    font-weight: bolder;
}
.error{
    text-align: center;
    width: 100%;
    height: 1.5rem;
    color: red;
    font-size: 1.2rem;
  }
  #patient{
      background-color: white;
      color: white;
      border: 1px solid white;
      background-color: rgb(88, 72, 72);
  }